/crash-reports/
/data/
/debug/
/downloads/
/journeymap/
/local/
/logs/
/patched_shaders/
/saves/
/scripts/
/screenshots/
/shaderpacks/
/xaero/
/XaeroWaypoints*/

/command_history.txt
/emi.json
/icon.png
/options.txt
/ponders_watched.json
/servers.dat*
/usercache.json
/usernamecache.json

# This file timestamps itself it loads, so it's ignored to prevent a bunch of useless changes
/config/iris.properties
.*/
*.bak